<div class="container my-container ">
    <div class="card justify-content-md-center">
    <div class="card-header header-color text-center pb-0">
        <h2> Ajouter une vente </h2>
    </div>
    <div class="card-body">
        
        <div class="btn btn-danger text-center" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
  
          <div class="form-group">
            <label for="quantite">Quantité</label>
            <input
              type="number"
              class="form-control"
              name="quantite"
              [(ngModel)]="vente.quantite"
              #quantite="ngModel"/>
  
        </div>
        <!-- <div class="form-group">
            <label for="montant">Montant</label>
            <input
              type="number"
              class="form-control"
              name="code"
              [(ngModel)]="vente.montant"
              required
              montant
              #montant="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && montant.errors }"/>
            <div class="invalid-feedback" *ngIf="montant.errors && f.submitted">
              <div *ngIf="montant.errors['required']">Le montant ne peut pas être vide !</div>
              <div *ngIf="montant.errors['montant']">
                montant doit être une adresse montant valide !
              </div>
            </div>
          </div> -->
        <div class="form-group">
          <label for="date">Date</label>
          <input
            type="date"
            class="form-control"
            name="date"
            [(ngModel)]="vente.date"
            required
            date
            #date="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && date.errors }"/>
          <div class="invalid-feedback" *ngIf="date.errors && f.submitted">
            <div *ngIf="date.errors['required']">date ne peut pas être vide !</div>
            <div *ngIf="date.errors['date']">
             La  date doit pas   être une  valide !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dateExp">Remise</label>
          <input
            type="boolean"
            class="form-control"
            name="remise"
            [(ngModel)]="vente.remise"
            required
            remise
            #remise="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && remise.errors }"/>
          <div class="invalid-feedback" *ngIf="remise.errors && f.submitted">
            <div *ngIf="remise.errors['required']">remise ne peut pas être vide !</div>
            <div *ngIf="remise.errors['remise']">
              remise doit pas être    valide !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="produitId">Produit</label>
          <select class="form-select" aria-label="Default select example" name="magasin" id="magasin" [(ngModel)]="vente.produitId" >
            <option [value]="0" >Selectionnez un produit</option>
            <option *ngFor="let produit of listProduit" [value]="produit.id">{{produit.nomPrdt}}</option>
          </select>
        </div>
        
        <div class="form-group">
            <label for="clientId" >Client</label>
            <select class="form-select" aria-label="Default select example" name="catProd" [(ngModel)]="vente.clientId">
              <option [value]="0" selected>Selectionnez une Client</option>
              <option *ngFor="let client of listClient" [value]="client.id">{{client.nomClient}}</option>
            </select>
          </div>
        <div class="form-group d-flex justify-content-between">
            
          <button type="button" class="btn btn-danger" routerLink="/vente">
            <i class="fas fa-ban"></i> annuler
          </button>
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-save"></i> enrégistrer
            </button>
          </div>
      </form>
    </div>
    </div>
  </div>
  