<div class="container my-container ">
    <div class="card justify-content-md-center">
    <div class="card-header header-color text-center pb-0">
        <h2> {{ pageTitle }} </h2>
    </div>
    <div class="card-body">
        
        <div class="btn btn-danger text-center" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
  
        <div class="form-group">
            <label for="nomPrdt">nomPrdt</label>
            <input
              type="text"
              class="form-control"
              name="nomPrdt"
              [(ngModel)]="produit.nomPrdt"
              required
              minlength="3"
              maxlength="20"
              #nomPrdt="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && nomPrdt.errors }" />
            <div class="invalid-feedback" *ngIf="nomPrdt.errors && f.submitted">
              <div *ngIf="nomPrdt.errors['required']">Le préqte ne peut pas être vide !</div>
              <div *ngIf="nomPrdt.errors['minlength']">
                Le préqte doit contenir au moins 20 charactères
              </div>
              <div *ngIf="nomPrdt.errors['maxlength']">
                La quantté doit contenir au plus 20 charactères
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <label for="qte">Quantité</label>
            <input
              type="number"
              class="form-control"
              name="qte"
              [(ngModel)]="produit.qte"
              #qte="ngModel"/>
  
        </div>
        <div class="form-group">
            <label for="code">code</label>
            <input
              type="text"
              class="form-control"
              name="code"
              [(ngModel)]="produit.code"
              required
              code
              #code="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && code.errors }"/>
            <div class="invalid-feedback" *ngIf="code.errors && f.submitted">
              <div *ngIf="code.errors['required']">L'e-mail ne peut pas être vide !</div>
              <div *ngIf="code.errors['code']">
                code doit être une adresse code valide !
              </div>
            </div>
          </div>
        <div class="form-group">
          <label for="price">price</label>
          <input
            type="number"
            class="form-control"
            name="price"
            [(ngModel)]="produit.price"
            required
            price
            #price="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && price.errors }"/>
          <div class="invalid-feedback" *ngIf="price.errors && f.submitted">
            <div *ngIf="price.errors['required']">L'e-mail ne peut pas être vide !</div>
            <div *ngIf="price.errors['price']">
              price doit être une adresse price valide !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dateExp">dateExp</label>
          <input
            type="date"
            class="form-control"
            name="dateExp"
            [(ngModel)]="produit.dateExp"
            required
            dateExp
            #dateExp="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && dateExp.errors }"/>
          <div class="invalid-feedback" *ngIf="dateExp.errors && f.submitted">
            <div *ngIf="dateExp.errors['required']">L'e-mail ne peut pas être vide !</div>
            <div *ngIf="dateExp.errors['dateExp']">
              dateExp doit être une adresse dateExp valide !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="magasinId">magasin</label>
          <select class="form-select" aria-label="Default select example" name="magasin" id="magasin" [(ngModel)]="produit.magasinId" >
            <option [value]="0" >Selectionnez un magasin</option>
            <option *ngFor="let mag of listMagasin" [value]="mag.id">{{mag.nomMagasin}}</option>
          </select>
        </div>
        <div class="form-group">
            <label for="catProd" >categorie</label>
            <select class="form-select" aria-label="Default select example" name="catProd" [(ngModel)]="produit.categoryId">
              <option [value]="0" selected>Selectionnez une catégorie</option>
              <option *ngFor="let catProd of listCategories" [value]="catProd.id">{{catProd.nom}}</option>
            </select>
          </div>
        
        <div class="form-group d-flex justify-content-between">
            
          <button type="button" class="btn btn-danger" routerLink="/produit">
            <i class="fas fa-ban"></i> annuler
          </button>
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-save"></i> enrégistrer
            </button>
          </div>
      </form>
    </div>
    </div>
  </div>
  