<div class="d-flex justify-content-between pt-2">
  <div class="col-md-6 p-0">
    <h2>Liste des categorie</h2>
  </div>

  <div class="d-flex">
    <div class="flex-flill">
      <button type="button" class="btn btn-sm btn-success"> <i class="fas fa-download"></i>Télécharger </button>
    </div>
    <div class="flex-flill">
      <button type="button" class="btn btn-sm btn-primary" routerLink="/addCategorie"> <i class="fas fa-plus"></i>Nouveau </button>
    </div>
  </div>
</div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category ">
          <td><span>{{category.id}}</span></td>
          <td><span>{{category.description}}</span></td>
          <td>
            <button class="btn btn-sm btn-warning">
              <i class="fa fa-edit"></i>Modifier</button>
            <button class="btn btn-sm btn-danger">
              <i class="fa fa-remove"></i>Supprimer</button>
          </td>
          
        </tr>
        </tbody>
      </table>
   <!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
