<div class="container my-container ">
    <div class="card justify-content-md-center">
    <div class="card-header header-color text-center pb-0">
        <h2>Inscrire un fournisseur</h2>
    </div>
    <div class="card-body">
        
        <div class="btn btn-danger" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
  
        <div class="form-group">
            <label for="prenomClient">Prénom</label>
            <input
              type="text"
              class="form-control"
              name="prenomClient"
              [(ngModel)]="form.prenomClient"
              required
              minlength="3"
              maxlength="20"
              #prenomClient="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && prenomClient.errors }" />
            <div class="invalid-feedback" *ngIf="prenomClient.errors && f.submitted">
              <div *ngIf="prenomClient.errors['required']">Le prénomClient ne peut pas être vide !</div>
              <div *ngIf="prenomClient.errors['minlength']">
                Le prénomClient doit contenir au moins 20 charactères
              </div>
              <div *ngIf="prenomClient.errors['maxlength']">
                Le prénomClient doit contenir au plus 20 charactères
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <label for="nomClient">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nomClient"
              [(ngModel)]="form.nomClient"
              required
              minlength="3"
              maxlength="20"
              #nomClient="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && nomClient.errors }" />
  
          <div class="invalid-feedback" *ngIf="nomClient.errors && f.submitted">
            <div *ngIf="nomClient.errors['required']">prenomClient ne peut pas être vide !</div>
            <div *ngIf="nomClient.errors['minlength']">
              Le nomClient doit contenir au moins 3 charactères
            </div>
            <div *ngIf="nomClient.errors['maxlength']">
              Le nomClient doit contenir au plus 20 charactères
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="telClient">Telephone</label>
          <input
            type="telClient"
            class="form-control"
            name="telClient"
            [(ngModel)]="form.telClient"
            required
            telClient
            #telClient="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && telClient.errors }"/>
          <div class="invalid-feedback" *ngIf="telClient.errors && f.submitted">
            <div *ngIf="telClient.errors['required']">L'e-mail ne peut pas être vide !</div>
            <div *ngIf="telClient.errors['telClient']">
              telClient doit être une adresse telClient valide !
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="telClient">Telephone</label>
            <input
              type="telClient"
              class="form-control"
              name="telClient"
              [(ngModel)]="form.telClient"
              required
              telClient
              #telClient="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && telClient.errors }"/>
            <div class="invalid-feedback" *ngIf="telClient.errors && f.submitted">
              <div *ngIf="telClient.errors['required']">L'e-mail ne peut pas être vide !</div>
              <div *ngIf="telClient.errors['telClient']">
                telClient doit être une adresse telClient valide !
              </div>
            </div>
          </div>
        
        <div class="form-group d-flex justify-content-between">
            
          <button type="button" class="btn btn-danger" routerLink="/client">
            <i class="fas fa-ban"></i> annuler
          </button>
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-save"></i> enrégistrer
            </button>
          </div>
      </form>
  
      
      <div class="alert alert-success" *ngIf="isSuccessful">
        Client enrégistrer avec succès Mr/Mme {{form.nomClient}}!
      </div>
    </div>
    </div>
  </div>
  